<div class="container">
  <%= simple_form_for(@article, html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :tag_list %>
    <% if @article.image.exists? %>
      <%= image_tag @article.image.url(:thumb) %><br>
    <% end %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
